<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_receitix"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_receitix_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Receitix"
        tools:targetApi="31">

        <activity
            android:name=".ui.SobreActivity"
            android:exported="false"
            android:parentActivityName=".ui.ListaReceitasActivity" />

        <activity
            android:name=".ui.ListaReceitasActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.CadastroReceitasActivity"
            android:exported="false"
            android:parentActivityName=".ui.ListaReceitasActivity" />
    </application>

</manifest>
